@font-face {
    font-family: 'Glitz';
    src: url('Glitz-Regular.woff2') format('woff2'),
        url('Glitz-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

